.cart {
    margin: 0px 10px;
}

.item {
    background-color: #ffffff;
    padding: 10px;
}

.itemSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    background-size: contain;
}

.img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}