.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    background-color: #ffffff;
    color: var(--dark);
    border: 3px solid var(--accent);
    border-radius: 4px;
    padding: 1rem;
}

.h2 {
    text-align: center;
}

.interactive {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.input {
    appearance: none;
    width: 5em;
    border: 2px solid var(--link-dark);
    border-radius: 4px;
    background-color: inherit;
    color: inherit;
}
.input:focus,
.input:focus-visible {
    outline: 3px solid var(--link-dark);
}

.container {
    background-size: contain;
}

.img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}

.btn {
    padding: 0.1em .6em;
}
.btn:hover {
    border-color: var(--dark);
}
.btn:focus, 
.btn:focus-visible {
    outline-color: var(--link-dark);
}
.btn:disabled {
    opacity: .7;
    pointer-events: none;
}

@media (prefers-color-scheme: light) {
    .card {
        border-color: var(--link-dark);
    }
    .input:focus,
    .input:focus-visible {
        outline-color: var(--link-dark);
    }
}