:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --link: #628d62;
  --link-dark: #4d6f4d;
  --dark: #0b1d1d;
  --dark-trans: #0b1d1ddd;
  --light: #f0e8e0;
  --light-trans: #f0e8e0dd;
  --accent: #e79118;

  color-scheme: light dark;
  color: var(--light);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 600;
  color: var(--link);
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--light);
  background-color: var(--link-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}
button > a {
  color: var(--light);
}
button:hover {
  border-color: var(--light);
}
button > a:hover {
  text-decoration: none;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--light);
  }
  a {
    color: var(--link-dark);
  }
  button {
    color: var(--dark);
    background-color: var(--accent);
  }
  button > a {
    color: var(--dark);
  }
  button:hover {
    border-color: var(--dark);
  }
}
