.banner {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.navList {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.btn {
    object-fit: cover;
    display: flex;
    align-items: center;
    background-color: inherit;
    padding: .1em .5em;
}
.btn:hover {
    border-color: var(--link);
}

.cartItems {
    position: relative;
    top: -.5em;
    font-size: 80%;
    color: var(--link);
}

.svg {
    width: 100%;
    color: var(--link);
}

@media (prefers-color-scheme: light) {
    .svg {
        color: var(--link-dark);
    }
    .cartItems {
        color: var(--link-dark);
    }
    .btn:hover {
        border-color: var(--link-dark);
    }
}